@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500&display=swap');
body{
    overflow-x: hidden;
    background: #000;
    color: white;
    font-family: 'Eczar', serif;
    font-size: 13px;
}
h3{
    background-color: #f4d03f;
    background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.panel_parent{
    min-height: 100vh;
    width: 100%;
    /* background: gray; */
}
.panel_parent_second{
    min-height: 100vh;
    width: 100%;
    /* background: rgb(215, 155, 155); */
}
.panel{
    /* opacity: 0; */
    width: 250px;
    opacity: 1;
    height: 100px;
    transition: 0.5s;
}
.panel.active{
    opacity: 1;
}
.second-panel{
    /* opacity: 0; */
    width: 250px;
    opacity: 1;
    height: 100px;
    /* background: green; */
    transition: 0.5s;
}
.hello{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.single-page .first-div{
    width: 51%;
    height: 100vh;
    transition: 0.9s;
    position: fixed;
    top: 0;
    left: -100%;
    background: white;
}
.single-page .second-div{
    width: 50%;
    height: 100vh;
    transition: 0.9s;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 100px;
    background: white;
    flex-direction: column;
    color: black;
}
.single-page .first-div.active{
    left: 0;
}
.single-page .second-div.active{
    right: 0;
}
.first-hello{
    rotate: 13deg;
}
.second-hello{
    rotate: -13deg;
}











.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #800000;
    transition: 0.3s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
  }
  .grow {
    transform: scale(4);
    background: white;
    mix-blend-mode: difference;
    border: none;
  }
  .grow-small {
    transform: scale(2);
  }
  .gone {
    opacity: 0;
    transition: 0.1s;
  }
  










  