@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500&display=swap');
body{
    overflow-x: hidden;
    /* background: rgb(3,62,134); */
    /* background: radial-gradient(circle, rgba(3,62,134,1) 13%, rgba(0,11,115,1) 65%); */
    color: white;
    font-family: 'Eczar', serif;
    font-size: 13px;

}
.panel_parent{
    padding-top: 100px;
    position: relative;
    background: url('../img/maps.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.panel_parent .logo{
    width: 125px;
    left: 4%;
    top: 5%;
    position: absolute;
}
h1.main_head{
    text-align: center;
}
p.main_para{
    text-align: center;
    font-size: 18px;
    margin-bottom: 80px;
    width: 50%;
    margin: auto;
}
h3.side_head{
    background-color: #f4d03f;
    background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.country_name{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #218dd1;
}

.panel_parent_second{
    min-height: 100vh;
    width: 100%;
}
.panel{
    width: 250px;
    opacity: 0;
    scale: 0.1;
    height: 150px;
    margin-top: -65%;
}
.second-panel{
    width: 250px;
    opacity: 0;
    scale: 0.1;
    height: 150px;
    margin-top: -65%;
}
.hello{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9,45,89);
    background: radial-gradient(circle, rgba(9,45,89,1) 0%, rgba(2,6,66,1) 42%);
}